@charset "utf-8";
/* CSS Document */
html{
    font-family: 'Oxygen', sans-serif;
    font-size: 22;
	color: #e5e5e5;
}
body{
	margin: 0;
	padding: 0;
	background: #1e1e1e;
}
p{
    letter-spacing: 1;
    margin: auto;
    margin-top: 20px;
}
a{
    color: #e5e5e5;
    text-decoration: none;
}
.title-text{
    font-size: 54;
    letter-spacing: 5;
}
.main-div{
    margin: 0 auto;
    margin-top: 80px;
    width: 800px;
}
