@charset "utf-8";

:root{
    --bg-color: #1E1E1E;
    --text-color: #E5E5E5;
}

/* CSS Document */
html{
    font-family: 'Oxygen', sans-serif;
    font-size: 22;
	color: var(--text-color);
}
body{
	margin: 0;
	padding: 0;
	background: var(--bg-color);
}
p{
    letter-spacing: 1;
    margin: auto;
    margin-top: 20px;
}
a{
    color: var(--text-color);
    text-decoration: none;
}
h1{
    font-size: 50;
    letter-spacing: 5;
}
.main-div{
    margin: 0 auto;
    margin-top: 80px;
    margin-left: 12%;
    margin-right: 5%;
    /*width: 80%;*/
}
.link-container{
    margin-top:5px;
}
.my-icons{
    height: 16px;
}
